<h1>Create a New Deck</h1>

<% if @errors %>
  <ul>
  <% @errors.each do |error| %>
    <li><%= error %></li><br>
  <% end %>
  </ul>
<%  end %>

<form action='/deck' method="post">
Category: <input type="text" name="deck[category]">
<input type="submit" value="Create Deck">
</form>

